APP_ID=cli_xxx
APP_SECRET=xxx
FEISHU_AUTH_MODE=oauth
DOCUMENTS_ROOT=~/Documents
STATE_ROOT=~/Library/Application Support/feishu-backup
SPACE_IDS=
SPACE_NAME_ALLOWLIST=
FEISHU_OAUTH_REDIRECT_PORT=9527
LAUNCHD_HOUR=2
LAUNCHD_MINUTE=15
